aiohttp
altair==4.1.0      
argon2-cffi==20.1.0
asgiref==3.4.1     
astor==0.8.1       
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
bleach==4.0.0
blinker==1.4
Brotli==1.0.9
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
cmake==3.20.3
colorama==0.4.4
cssselect==1.1.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
dlib==19.22.0
docopt==0.6.2
entrypoints==0.3
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
helpers==0.2.0
idna==3.2
imutils==0.5.4
ipykernel==6.1.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mistune==0.8.4
multidict==5.1.0
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.3
numpy==1.20.3
opencv-python==4.5.2.54
packaging==21.0
pandas==1.3.1
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
pyarrow==5.0.0
pycparser==2.20
pydeck==0.6.2
Pygments==2.10.0
pyparsing==2.4.7
pyquery==1.4.3
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.1
pyzmq==22.2.1
requests==2.26.0
requests-futures==1.0.0
Send2Trash==1.8.0
six==1.16.0
smmap==4.0.0
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git
soupsieve==2.2.1
sqlparse==0.4.1
stem==1.8.0
tenacity==7.0.0
terminado==0.11.0
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
torrequest==0.1.0
tqdm==4.62.0
traitlets==5.0.5
tweepy==3.10.0
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.6
user-agent==0.1.9
validators==0.18.2
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
yarg==0.1.9
yarl==1.6.3
